#wrapper {
    height: 100vh;
    overflow-x: hidden;
    perspective: 10px;
  }
  
  .background {
    transform: translateZ(-40px) scale(5);
  }
  
  .foreground {
    transform: translateZ(-20px) scale(3);
  }
  
  .background,
  .foreground {
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;
    z-index: -1;
  }
  
  /* h1 {
    position: absolute;
    top: 5rem;
    left: 50%;
    transform: translateX(-50%);
    font-size: 10rem;
    letter-spacing: 4px;
    color: white;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  } */
  
  section {
    /* background-color: rgb(45, 45, 45); */
    color: white;
  }
  
  .secHeading {
    font-size: 5rem;
    padding: 0 10rem;
  }
  
  .text {
    font-size: 1.5rem;
    padding: 0 10rem;
    margin: 5rem 0;
  }
  
  .bg {
    position: relative;
    width: 100%;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    height: 300px;
  }
  
  .bg1 {
    background-image: url("/images/gallery/IMG_20240605_124215.jpg");
  }
  
  .bg2 {
    background-image: url("/fashion/DSC04131.JPG");
  }
  
   .bg3 {
    background-image: url("/fine art/SKF09513.JPG");
  }
  
  /* .bg4 {
    background-image: url("https://images.unsplash.com/photo-1528291954423-c0c71c12baeb?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mzl8fHNwb3J0c3xlbnwwfDB8MHx8fDA%3D");
  }
  
  .bg5 {
    background-image: url("https://images.unsplash.com/photo-1593265035899-fa2a74a21b53?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NTR8fHNwb3J0c3xlbnwwfDB8MHx8fDA%3D");
  }  */
   
  .desc {
    position: absolute;
    font-size: 3.5rem;
    color: black;
    background-color: white;
    padding: 0.5rem 2.5rem;
    top: 50%;
    left: 40%;
    transform: translate(-50%, -50%);
  }
  
  /* Mobile Styles */
  @media (max-width: 768px) {
    h1 {
      font-size: 6rem;
      top: 3rem;
    }
  
    .secHeading {
      font-size: 3rem;
      padding: 0 2rem;
    }
  
    .text {
      font-size: 1rem;
      padding: 0 2rem;
      margin: 2rem 0;
    }
  
    .desc {
      font-size: 2rem;
      padding: 0.25rem 1.5rem;
      top: 40%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  
    .bg {
      height: 300px;
    }
  }
  